<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Chat</title>
    <link rel="stylesheet" href="style_1.css" />
    <link rel="stylesheet" href="style_2.css" />

    <script type="module" src="chat_1.js"></script>
  </head>
  <body>
    <!-- ############### Title #################################-->
    <!-- ############### Title #################################-->
    <h1>Let's Chat</h1>
    <!-- ############### App #################################-->
    <!-- ############### App #################################-->
    <div id="app">
      <!-- Begin problem 3 solution -->
      <!-- <h2>Welcome {{myUsername}}</h2> -->
      <!-- End problem 3 solution -->

      <!-- ############### Login and LogOut #################################-->
      <!-- ############### Login and LogOut #################################-->
      <p>
        <button class="login-logout" @click="$gf.toggleLogIn">
          <!-- If we have a user ID, we're logged in so show "Log Out" -->
          <!-- Otherwise, show "Log In" -->
          {{ $gf.me? 'Log Out' : 'Log In' }}
        </button>
      </p>

      <!-- ############### Logged in Properties #################################-->
      <!-- ############### Logged in Properties #################################-->
      <!-- If we're not logged in, hide everything except the login button -->

      <template v-if="$gf.me">
        <!-- ############### My Name is ##############################-->
        <!-- ############### My Name is ##############################-->
        <!-- <p> -->
        <!-- We display names in multiple places, so we made a -->
        <!-- reusable <name></name> component. -->
        <!-- See below for the template. -->
        <!-- My Name Is: <name :actor="$gf.me" :editable="true"></name> -->

        <!-- ############### ProfilePicture ##############################-->
        <!-- ############### ProfilePicture ##############################-->
        <!-- My Profile Picture:
          <profile-picture :actor="$gf.me" :editable="true"></profile-picture> -->
        <!-- <profile-picture :actor="$gf.me" :editable="true"></profile-picture> -->
        <!-- </p> -->
        <!-- ############### Chat format PUBLIC / PRIVATE ##############################-->
        <!-- ############### Chat format PUBLIC / PRIVATE ##############################-->
        <!-- ############### Chat format PUBLIC / PRIVATE ##############################-->
        <div class="private-public">
          <label class="switch">
            <input id="toggle" type="checkbox" v-model="privateMessaging" />
            <span class="slider round"></span>
          </label>
          <span class="toggle-label">
            Chat Mode: {{ privateMessaging ? 'Private' : 'Public' }}</span
          >
        </div>
        <!-- <p>
          Change chat format:
          <input type="radio" id="channel" :value="false" v-model="privateMessaging" />
          <label for="channel">Channel-based public chat</label>
  
          <input type="radio" id="pm" :value="true" v-model="privateMessaging" />
          <label for="pm">Private Messaging</label>
        </p> -->
        <!-- ############### Change the channel you're chatting in: #################################-->
        <!-- ############### Change the channel you're chatting in: #################################-->
        <!-- <p v-if="!privateMessaging">
          <label for="channel"> Change the channel you're chatting in: </label>
          <input id="channel" v-model="channel" />
        </p> -->
        <!-- ############### Display Name #################################-->
        <!-- ############### Display Name #################################-->
        <div>
          <profile-picture
            class="profile-name"
            :actor="$gf.me"
            :editable="true"
          ></profile-picture>
          <!-- <img
            class="profile-image"
            src="image_1222.png"
            alt="User profile image"
          /> -->
          <!-- <ProfilePicture :actor="$gf.me" editable="true"></ProfilePicture> -->
          <!-- <ProfilePicture :actor="actor.ID"></ProfilePicture> -->
        </div>
        <div class="profile-name">
          <!-- <p> -->
          <!-- We display names in multiple places, so we made a -->
          <!-- reusable <name></name> component. -->
          <!-- See below for the template. -->
          <!-- <name :actor="$gf.me" :editable="true"></name>
          </p> -->
          Welcome : {{myUsername}}
        </div>
        <!-- ############### request-username" ##############################-->
        <!-- ############### request-username" ##############################-->
        <!-- ############### request-username" ##############################-->
        <div class="request-username">
          <form @submit.prevent="setUsername">
            <input
              v-model="preferredUsername"
              placeholder="Choose a username..."
            />
            <input type="submit" value="Change Username" />
          </form>
          {{ usernameResult }}
        </div>
        <!-- ############### NEW MeSsage recieved #################################-->
        <!-- ############### NEW MeSsage recieved #################################-->
        <!-- ############ NEW MeSsage recieved ######### -->
        <!-- <div class="notification">New message received!</div> -->

        <!--  -->

        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- <div class="chat-indicator">
          
          <span class="new-messages-count" v-if="newMessagesCount > 0">
            ({{ newMessagesCount }} new message{{ newMessagesCount > 1 ? 's' :
            '' }})
          </span>
        </div> -->
        <!-- <span class="new-messages-count" v-if="newMessagesCount > 0">{{ newMessagesCount }}</span> -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

        <p v-if="!privateMessaging" class="channel-base">
          <label for="channel"> Change the channel you're chatting in: </label>
          <input id="channel" v-model="channel" />
        </p>

        <!-- ############### Search by username  ##############################-->
        <!-- ############### Search by username  ##############################-->
        <p v-else>
          <label for="username">Search by Username:</label>
          <input id="username" v-model="searchedUsername" />
          <button @click="searchByUsername">Search</button>
          <span v-if="recipient"> Chatting with {{ recipientUsername }} </span>
          <span class="search-status" v-if="searchError"
            >{{ searchError }}</span
          >
          <span v-if="searchLoading">Loading...</span>
        </p>

        <!-- ############### Auto Complete ##############################-->
        <!-- ############### Auto Complete ##############################-->
        <!-- <div class="autocomplete-container" v-if="searchedUsername">
          <ul v-if="searchedUsername && filteredUsernames.length > 0">
            <li
              v-for="suggestedUsername in filteredUsernames"
              @click="selectSuggestedUsername(suggestedUsername)"
            >
              {{suggestedUsername}}
            </li>
          </ul>
        </div> -->

        <!-- ############### Error when sending message ##############################-->
        <!-- ############### Error when sending message ##############################-->
        <div class="error-message" v-if="errorMessage">{{ errorMessage }}</div>

        <!-- ############### messages-container ##############################-->
        <!-- ############### messages-container ##############################-->
        <div class="wrapper">
          <ul class="messages-container">
            <!-- List all the messages -->
            <li
              v-for="message of messages"
              :key="message.id"
              class="v-enter v-enter-active"
            >
              <!-- Display and edit form if we're editing a message -->
              <form
                v-if="editID==message.id"
                @submit.prevent="saveEditMessage(message)"
              >
                <input v-model="editText" />
                <input type="submit" value="Save" />
              </form>

              <!-- Otherwise, display a bunch of properties from the message -->
              <ul
                class="message-info"
                :class="{'incoming':message.actor!==$gf.me, 'outgoing':message.actor===$gf.me}"
                v-else
              >
                <div class="message-header">
                  <!-- <profile-picture
                    class="message-avatar"
                    :actor="$gf.me"
                    :editable="true"
                  ></profile-picture> -->

                  <!-- <img
                    class="message-avatar"
                    src="image_1222.png"
                    alt="User profile image"
                  /> -->
                  <!-- <profile-picture
                    :actor="message.actor"
                    :editable="false"
                  ></profile-picture> -->

                  <span v-if="!privateMessaging"
                    ><li>From: {{ actorsToUsernames[message.actor] }}</li></span
                  >

                  <!-- <span v-if="!privateMessaging"
                    >From: <name :actor="message.actor"></name
                  ></span> -->
                  <span v-else>To :<name :actor="message.bto[0]"></name> </span>
                  <!-- <span v-if="!privateMessaging"
                    >From: {{myUsername}}</span>-->
                </div>

                <li id="text-message">Message: {{ message.content }}</li>

                <!-- #####################  HIDE THE DETAILS ####################### -->
                <!-- #####################  HIDE THE DETAILS ####################### -->
                <!-- #####################  HIDE THE DETAILS ####################### -->
                <!-- <li>
                  Message: {{ message.content }} 
                </li>
                <li>
                  From Name: <name :actor="message.actor"></name>
                </li>
                <li>
                  From Actor ID: {{ message.actor }}
                </li>
                <li>
                  From Username: {{ actorsToUsernames[message.actor] }}
                </li>
                <template v-if="privateMessaging">
                  <li>
                    To Name: <name :actor="message.bto[0]"></name>
                  </li>
                  <li>
                    To Actor ID: {{ message.bto[0] }}
                  </li>
                  <li>
                    To Username: {{ actorsToUsernames[message.bto[0]] }}
                  </li>
                </template>
                <li>
                  Published at Time: {{ message.published }}
                </li>
                <li>
                  Last Edited at Time: {{ message.updated }}
                </li>
                <li>
                  This is a unique identifier that can be used to "link" to messages
                  ID: {{ message.id }}
                </li> -->

                <!-- ############ Sending media in chat ######### -->
                <!-- <template v-if="message.attachment && message.attachment.type === 'Image'">
                  <img :src="downloadedImages[message.attachment.magnet]" />
                </template> -->
                <!-- <div v-if="message.attachment">
                  <div v-if="!downloadedImages[message.attachment.magnet]">
                    Loading image...
                  </div>
                  <img
                    v-else
                    :src="downloadedImages[message.attachment.magnet]"
                    alt="Image attachment"
                  />
                </div> -->
                <li
                  v-if="message.attachment && message.attachment.magnet in downloadedImages"
                >
                  <span
                    v-if="downloadedImages[message.attachment.magnet]=='downloading'"
                  >
                    Image is downloading...
                  </span>
                  <span
                    v-else-if="downloadedImages[message.attachment.magnet]=='error'"
                  >
                    Image could not be downloaded!
                  </span>
                  <img
                    style="width: 100%"
                    v-else
                    :src="downloadedImages[message.attachment.magnet]"
                  />
                </li>

                <!-- ############## Sending Media in Chat ############
                <input type="file" accept="image/*" @change="onImageAttachment" /> -->

                <!-- <p v-if="isMessageRead(message)" class="read-indicator">✓✓</p> -->

                <!--################## from solution ###############-->
                <!-- <li v-if="message.attachment && message.attachment.magnet in imageDownloads">
                  <span v-if="imageDownloads[message.attachment.magnet]=='downloading'">
                    Image is downloading...
                  </span>
                  <span v-else-if="imageDownloads[message.attachment.magnet]=='error'">
                    Image could not be downloaded!
                  </span>
                  <img v-else :src="imageDownloads[message.attachment.magnet]" />
                </li> -->
                <!-- ################## from solution END here ###############-->

                <!-- ############### A menue ... for Delete and Edit ##############################-->
                <!-- ############### A menue ... for Delete and Edit  ##############################-->
                <!-- Only add these controls if the message is ours -->
                <!-- You can't edit or delete other people's messages -->
                <div class="foot-container">
                  <div class="actions-container">
                    <template v-if="message.actor==$gf.me">
                      <li>
                        <button @click="removeMessage(message)">Delete</button>
                      </li>
                      <li>
                        <button @click="startEditMessage(message)">Edit</button>
                      </li>
                    </template>
                    <li>
                      <like :messageid="message.id"></like>
                    </li>

                    <li>
                      <read
                        :messageid="message.id"
                        :sender="message.sender"
                      ></read>
                    </li>

                    <li>
                      <reply
                        :messageid="message.id"
                        :content="message.content"
                        :sender="message.sender"
                      ></reply>
                    </li>
                  </div>
                  <div class="message-timestamp">
                    <span>{{ formatDate(message.published) }}</span>
                  </div>
                </div>
              </ul>
            </li>
          </ul>

          <!-- ############### Send message ##############################-->
          <!-- ############### Send message ##############################-->
          <div class="message-send-button">
            <!-- A form for sending messages -->
            <form @submit.prevent="sendMessage" class="send-input">
              <input
                class="submit-text-box"
                v-model="messageText"
                placeholder="Type a message..."
              />
              <!-- ############## Sending Media in Chat ############-->
              <input type="file" accept="image/*" @change="onImageAttachment" />
              <input class="submit-button" type="submit" value="Send" />
              <!-- @focus="handleInputFocus"
              @blur="handleInputBlur" -->

              <!--####### typing Indicator ####### -->
              <!-- <span class="typing-indicator" v-if="isTyping">&#x2022;</span> -->
            </form>
          </div>
        </div>
        <!-- ############### Message-content End here ##############################-->
        <!-- ############### Message-content End here ##############################-->
      </template>
      <!-- ############### Help  #################################-->
      <!-- ############### Help #################################-->
      <div class="help-button-container">
        <button @click="toggleHelpModal" class="help-button">Help</button>
      </div>

      <transition name="slide-fade">
        <div class="help-modal" v-if="showHelpModal">
          <!-- <h2>Help</h2> -->
          <!-- <p>Explanation of features and functionality here...</p> -->
          <p>
            <strong>How to use the chat app:</strong>
          </p>
          <ul>
            <li>Click the "Log In" button to log in or out.</li>
            <li>
              Choose between "Public chat" and "Private Messaging" by clicking
              the respective buttons.
            </li>
            <li>
              For public chat, enter the channel name you want to chat in. For
              private messaging, enter the Actor ID of the person you want to
              chat with.
            </li>
            <li>
              Type your message in the input field and click "Send" to send the
              message.
            </li>
            <li>
              Click "Edit Message" or "Delete Message" to edit or delete your
              messages.
            </li>
            <li>Click "Edit Name" to change your display name.</li>
          </ul>
          <button @click="toggleHelpModal" class="close-help-button">
            Close
          </button>
        </div>
      </transition>
    </div>

    <template id="name">
      <span v-if="!editing">
        <!-- If we're not editing the name-->
        <!-- Display the profile's name, if it exists -->
        <!-- or anonymous if it doesn't -->
        {{ profile? profile.name : 'Anonymous' }}

        <!-- Also if the name is "editable" add an edit button -->
        <button v-if="editable" @click="editName">Edit Name</button>
      </span>

      <!-- If we're in the editing state, create something to edit the name-->
      <form v-else @submit.prevent="saveName">
        <input v-model="editText" />
        <input type="submit" value="Save Name" />
      </form>
    </template>

    <!-- ############# LIKE Template ################# -->
    <template id="like">
      <button @click="toggleLike">
        {{ myLikes.length? 'Unlike' : 'Like' }}
      </button>
      liked by: {{ numLikes }}
    </template>

    <!-- ############# READ Template ################# -->
    <template id="read">
      <div>
        <span v-if="sender === $gf.me && myReads.length">✓✓</span>
      </div>
      <div v-if="sender !== $gf.me">
        ✓✓
        <!-- read by: {{ numReads }} -->
      </div>
    </template>

    <!-- ############# REPLY Template ################# -->
    <!-- <template id="reply">
      <div class="reply-container">
        <button @click="showReplyForm = !showReplyForm">Reply</button>
        <div v-if="showReplyForm" class="reply-form">
          <div class="quoted-message">
            <span>Replying to:</span>
            <span>{{ repliedMessageSnippet }}</span>
          </div>
          <input
            type="text"
            v-model="replyContent"
            placeholder="Write a reply..."
          />
          <button @click="sendReply">Send</button>
        </div>
        <div class="replies">
          <div v-for="reply in replies" class="reply-message">
            {{ reply.content }}
          </div>
        </div>
      </div>
    </template> -->
    <template id="reply">
      <div class="reply-container">
        <button @click="showReplyForm = !showReplyForm">Reply</button>
        <div v-if="showReplyForm" class="reply-form">
          <div class="quoted-message">
            <span>Replying to:</span>
            <span
              >{{ replyingToReply ? replyingToReply.content :
              repliedMessageSnippet }}</span
            >
          </div>
          <input
            type="text"
            v-model="replyContent"
            placeholder="Write a reply..."
          />
          <button @click="sendReply">Send</button>
        </div>
        <div class="replies">
          <div v-for="reply in replies" class="reply-message">
            <div class="quoted-message">
              <span>Replying to:</span>
              <span>{{ repliedMessageSnippet }}</span>
            </div>
            <span v-if="editingReply === reply">
              <input v-model="editText" />
              <button @click="saveEditReply">Save</button>
            </span>
            <span v-else>
              {{ reply.content }}
              <template v-if="reply.actor==$gf.me">
                <button @click="removeReply(reply)">Delete</button>
                <button @click="startEditReply(reply)">Edit</button>
              </template>
              <button @click="startReplyToReply(reply)">Reply</button>
            </span>
            <reply
              v-if="reply.inReplyTo"
              :messageid="reply.id"
              :content="reply.content"
              :sender="reply.sender"
            ></reply>
          </div>
        </div>
      </div>
    </template>

    <!--############### Profile picture #################### -->
    <script type="text/x-template" id="profile-picture">
      <div>
        <img class="profile-image" v-if="localImageUrl" :src="localImageUrl" />
        <button v-if="editable" @click="editProfilePicture">
          Change Profile Pic
        </button>
      </div>
    </script>

    <!-- <script type="text/x-template" id="profile-picture">
      <div>
        <img v-if="profile" :src="getImageURL(profile.icon.magnet)" />
        <input v-if="editable" type="file" @change="editProfilePicture" />
      </div>
    </script> -->

    <!-- <script type="text/x-template" id="profile-picture">
      <div>
        <img v-if="imageURL" :src="imageURL" class="profile-picture" />
        <div v-else class="no-profile-picture">No profile picture</div>
        <input
          v-if="editable"
          type="file"
          accept="image/*"
          @change="uploadPicture"
          class="upload-picture-input"
        />
      </div>
    </script> -->

    <!-- <script type="text/x-template" id="profile-picture">
      <div class="profile-picture">
        <div v-if="profile && profile.icon">
          <img
            :src="profile.icon.magnet | fetch"
            alt="Profile Picture"
            class="user-profile-picture"
          />
        </div>
        <div v-else-if="editable">
          <button @click="editProfilePicture">Set Profile Picture</button>
        </div>
        <div v-if="editable && editing">
          <input type="file" accept="image/*" @change="onSelectFile" />
        </div>
      </div>
    </script> -->
  </body>
</html>
