<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Chat</title>
    <link rel="stylesheet" href="style_1.css" />
    <link rel="stylesheet" href="style_2.css" />

    <script type="module" src="chat_1.js"></script>
  </head>
  <body>
    <!-- ############### Title #################################-->
    <!-- ############### Title #################################-->
    <h1>Let's Chat</h1>

    <!-- ############### App #################################-->
    <!-- ############### App #################################-->
    <div id="app">
      <!-- ############### Chat format PUBLIC / PRIVATE ##############################-->
      <!-- ############### Chat format PUBLIC / PRIVATE ##############################-->
      <!-- ############### Chat format PUBLIC / PRIVATE ##############################-->
      <div class="private-public">
        <label class="switch">
          <input id="toggle" type="checkbox" v-model="privateMessaging" />
          <span class="slider round"></span>
        </label>
        <span class="toggle-label"
          >{{ privateMessaging ? 'Private Chat' : 'Public Chat' }}</span
        >
      </div>

      <!-- ############### Help  #################################-->
      <!-- ############### Help #################################-->
      <div class="help-button-container">
        <button @click="toggleHelpModal" class="help-button">Help</button>
      </div>

      <transition name="slide-fade">
        <div class="help-modal" v-if="showHelpModal">
          >
          <!-- <h2>Help</h2> -->
          <!-- <p>Explanation of features and functionality here...</p> -->
          <p>
            <strong>How to use the chat app:</strong>
          </p>
          <ul>
            <li>Click the "Log In" button to log in or out.</li>
            <li>
              Choose between "Public chat" and "Private Messaging" by clicking
              the respective buttons.
            </li>
            <li>
              For public chat, enter the channel name you want to chat in. For
              private messaging, enter the Actor ID of the person you want to
              chat with.
            </li>
            <li>
              Type your message in the input field and click "Send" to send the
              message.
            </li>
            <li>
              Click "Edit Message" or "Delete Message" to edit or delete your
              messages.
            </li>
            <li>Click "Edit Name" to change your display name.</li>
          </ul>
          <button @click="toggleHelpModal" class="close-help-button">
            Close
          </button>
        </div>
      </transition>

      <!-- ############### Login and LogOut #################################-->
      <!-- ############### Login and LogOut #################################-->
      <p>
        <button class="login-logout" @click="$gf.toggleLogIn">
          <!-- If we have a user ID, we're logged in so show "Log Out" -->
          <!-- Otherwise, show "Log In" -->
          {{ $gf.me? 'Log Out' : 'Log In' }}
        </button>
      </p>

      <!-- ############### Logged in Properties #################################-->
      <!-- ############### Logged in Properties #################################-->
      <!-- If we're not logged in, hide everything except the login button -->

      <template v-if="$gf.me">
        <!-- ############### Display Name #################################-->
        <!-- ############### Display Name #################################-->
        <div>
          <img
            class="profile-image"
            src="image_1222.png"
            alt="User profile image"
          />
        </div>
        <div class="profile-name">
          <p>
            <!-- We display names in multiple places, so we made a -->
            <!-- reusable <name></name> component. -->
            <!-- See below for the template. -->
            <name :actor="$gf.me" :editable="true"></name>
          </p>
        </div>

        <!-- ############### Request Username #################################-->
        <!-- ############### Request Username #################################-->
        <!-- ############### Request Username #################################-->
        <div class="request-username">
          <p>Request Username :</p>
          <form @submit.prevent="requestUsername">
            <input
              placeholder="Type the Username..."
              v-model="requestedUsername"
            />
            <input class="button" type="submit" value="Request" />
            <span class="success" v-if="usernameSuccess"
              >{{usernameSuccess}}</span
            >
          </form>

          <span class="error" v-if="usernameError">{{usernameError}}</span>
          <!-- </p> -->
        </div>

        <!-- ############ NEW MeSsage recieved ######### -->
        <div class="notification">New message received!</div>

        <!--  -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <div class="chat-indicator">
          <!-- <span class="new-messages-count" v-if="newMessagesCount > 0">{{ newMessagesCount }}</span> -->
          <span class="new-messages-count" v-if="newMessagesCount > 0">
            ({{ newMessagesCount }} new message{{ newMessagesCount > 1 ? 's' :
            '' }})
          </span>
          <!-- Your chat icon or chat title here -->
        </div>
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

        <p v-if="!privateMessaging" class="channel-base">
          <label for="channel"> Change the channel you're chatting in: </label>
          <input id="channel" v-model="channel" />
        </p>

        <!-- ############### Search by username  ##############################-->
        <!-- ############### Search by username  ##############################-->
        <p v-else>
          <label for="username">Search by Username:</label>
          <input id="username" v-model="searchedUsername" />
          <button @click="searchByUsername">Search</button>
          <span class="search-status" v-if="searchError"
            >{{ searchError }}</span
          >
          <span v-if="searchLoading">Loading...</span>
        </p>

        <!-- ############### Auto Complete ##############################-->
        <!-- ############### Auto Complete ##############################-->
        <div class="autocomplete-container" v-if="searchedUsername">
          <ul v-if="searchedUsername && filteredUsernames.length > 0">
            <li
              v-for="suggestedUsername in filteredUsernames"
              @click="selectSuggestedUsername(suggestedUsername)"
            >
              {{suggestedUsername}}
            </li>
          </ul>
        </div>

        <!-- ############### Error when sending message ##############################-->
        <!-- ############### Error when sending message ##############################-->
        <div class="error-message" v-if="errorMessage">{{ errorMessage }}</div>

        <!-- ############### messages-container ##############################-->
        <!-- ############### messages-container ##############################-->
        <div class="wrapper">
          <ul class="messages-container">
            <!-- List all the messages -->
            <li
              v-for="message of messages"
              :key="message.id"
              class="v-enter v-enter-active"
            >
              <!-- Display and edit form if we're editing a message -->
              <form
                v-if="editID==message.id"
                @submit.prevent="saveEditMessage(message)"
              >
                <input v-model="editText" />
                <input type="submit" value="Save" />
              </form>

              <!-- Otherwise, display a bunch of properties from the message -->
              <ul
                class="message-info"
                :class="{'incoming':message.actor!==$gf.me, 'outgoing':message.actor===$gf.me}"
                v-else
              >
                <div class="message-header">
                  <img
                    class="message-avatar"
                    src="image_1222.png"
                    alt="User profile image"
                  />
                  <span v-if="!privateMessaging"
                    >From: <name :actor="message.actor"></name
                  ></span>
                  <span v-else>To :<name :actor="message.bto[0]"></name> </span>
                </div>

                <li id="text-message">Message: {{ message.content }}</li>
                <p v-if="isMessageRead(message)" class="read-indicator">✓✓</p>
                <!-- <li>From: <name :actor="message.actor"></name></li> -->
                <!-- <li>From Actor ID: {{ message.actor }}</li> -->
                <!-- <template v-if="privateMessaging">
                <li>To Name: <name :actor="message.bto[0]"></name></li> -->
                <!-- <li>To Actor ID: {{ message.bto[0] }}</li> -->
                <!-- </template> -->

                <!-- <li>Published at Time: {{ message.published }}</li> -->
                <!-- <li>Last Edited at Time: {{ message.updated }}</li> -->

                <!-- This is a unique identifier that can be used to "link" to messages -->
                <!-- <li>ID: {{ message.id }}</li> -->

                <!-- <like :messageid="message.id"></like> -->
                <!-- ########## Like ############ -->

                <!-- ############### A menue ... for Delete and Edit ##############################-->
                <!-- ############### A menue ... for Delete and Edit  ##############################-->
                <!-- Only add these controls if the message is ours -->
                <!-- You can't edit or delete other people's messages -->
                <div class="foot-container">
                  <div class="actions-container">
                    <template v-if="message.actor==$gf.me">
                      <li>
                        <button @click="removeMessage(message)">Delete</button>
                      </li>
                      <li>
                        <button @click="startEditMessage(message)">Edit</button>
                      </li>
                    </template>
                  </div>
                  <div class="message-timestamp">
                    <span>{{ formatDate(message.published) }}</span>
                  </div>
                </div>
              </ul>
            </li>
          </ul>

          <!-- ################### Read indicator ########################### -->
          <!-- ################### Read indicator ########################### -->

          <div class="message-send-button">
            <!-- ############### a form to send message ##############################-->
            <!-- ############### a form to send message ##############################-->
            <!-- A form for sending messages -->
            <form @submit.prevent="sendMessage" class="send-input">
              <input
                class="submit-text-box"
                v-model="messageText"
                placeholder="Type a message..."
                @focus="handleInputFocus"
                @blur="handleInputBlur"
              />
              <!--####### typing Indicator ####### -->
              <span class="typing-indicator" v-if="isTyping">&#x2022;</span>

              <input class="submit-button" type="submit" value="Send" />
            </form>
          </div>
        </div>
        <!-- ############### Message-content End here ##############################-->
        <!-- ############### Message-content End here ##############################-->
      </template>
    </div>

    <template id="name">
      <span v-if="!editing">
        <!-- If we're not editing the name-->
        <!-- Display the profile's name, if it exists -->
        <!-- or anonymous if it doesn't -->
        {{ profile? profile.name : 'Anonymous' }}

        <!-- Also if the name is "editable" add an edit button -->
        <button v-if="editable" @click="editName">Edit Name</button>
      </span>

      <!-- If we're in the editing state, create something to edit the name-->
      <form v-else @submit.prevent="saveName">
        <input v-model="editText" />
        <input type="submit" value="Save Name" />
      </form>
    </template>
  </body>
</html>
