<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> My Cool Chat App</title>
  <link rel="stylesheet" href="style_1.css">
  <link rel="stylesheet" href="style_2.css">
  <script type="module" src="./chat.js"></script>
</head>
<body>
  <div id="app">
    
    <h1>
      My Cool Chat App
    </h1>

    <!-- Begin problem 3 solution -->
    <h2>
      Welcome {{myUsername}}
    </h2>
    <!-- End problem 3 solution -->

    <p>
      <button @click="$gf.toggleLogIn">
        <!-- If we have a user ID, we're logged in so show "Log Out" -->
        <!-- Otherwise, show "Log In" -->
        {{ $gf.me? 'Log Out' : 'Log In' }}
      </button>
    </p>

    <!-- If we're not logged in, hide everything except the login button -->
    <template v-if="$gf.me">

      <!-- Begin Problem 1 Solution -->
      <p>
        <form @submit.prevent="setUsername">
          <input v-model="preferredUsername" placeholder="Choose a username..."/>
          <input type="submit" value="Set Username"/>
        </form>
        {{ usernameResult }}
      </p>
      <!-- End Problem 1 Solution -->

      <p>
        <!-- We display names in multiple places, so we made a -->
        <!-- reusable <name></name> component. -->
        <!-- See below for the template. -->
        My Name Is: <name :actor="$gf.me" :editable="true"></name>
      </p>

      <p>
        Change chat format:
        <input type="radio" id="channel" :value="false" v-model="privateMessaging" />
        <label for="channel">Channel-based public chat</label>

        <input type="radio" id="pm" :value="true" v-model="privateMessaging" />
        <label for="pm">Private Messaging</label>
      </p>

      <p v-if="!privateMessaging">
        <label for="channel">
          Change the channel you're chatting in:
        </label>
        <input id="channel" v-model="channel"/>
      </p>
      <!-- Begin problem 2 solution -->
      <div v-else>
        <form @submit.prevent="chatWithUser">
          <label for="recipient">
            Type the user ID of who you'd like to chat with:
          </label>
          <input id="recipient" v-model="recipientUsernameSearch"/>
          <input type="submit" value="Search"/>
        </form>
        <span v-if="recipient">
          Chatting with {{ recipientUsername }}
        </span>
        <span v-else>
          Username {{ recipientUsername }} does not exist!
        </span>
      </div>
      <!-- End problem 2 solution -->























      <!-- A form for sending messages -->
      <form @submit.prevent="sendMessage">
        <input v-model="messageText" placeholder="Type a message..."/>
        <input type="file" accept="image/*" @change="onImageAttachment"/>
        <input type="submit" value="Send"/>
      </form>





      <ul>
        <!-- List all the messages -->
        <li v-for="message of messages" :key="message.id">

          <!-- Display and edit form if we're editing a message -->
          <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
            <input v-model="editText">
            <input type="submit" value="Save"/>
          </form>



          
          <!-- Otherwise, display a bunch of properties from the message -->
          <ul v-else>
            <li>
              Message: {{ message.content }} 
            </li>
            <li>
              From Name: <name :actor="message.actor"></name>
            </li>
            <li>
              From Actor ID: {{ message.actor }}
            </li>
            <li>
              From Username: {{ actorsToUsernames[message.actor] }}
            </li>
            <template v-if="privateMessaging">
              <li>
                To Name: <name :actor="message.bto[0]"></name>
              </li>
              <li>
                To Actor ID: {{ message.bto[0] }}
              </li>
              <li>
                To Username: {{ actorsToUsernames[message.bto[0]] }}
              </li>
            </template>
            <li>
              Published at Time: {{ message.published }}
            </li>
            <li>
              Last Edited at Time: {{ message.updated }}
            </li>
            <li>
              <!-- This is a unique identifier that can be used to "link" to messages -->
              ID: {{ message.id }}
            </li>

            <li v-if="message.attachment && message.attachment.magnet in imageDownloads">
              <span v-if="imageDownloads[message.attachment.magnet]=='downloading'">
                Image is downloading...
              </span>
              <span v-else-if="imageDownloads[message.attachment.magnet]=='error'">
                Image could not be downloaded!
              </span>
              <img v-else :src="imageDownloads[message.attachment.magnet]" />
            </li>

            <!-- Only add these controls if the message is ours -->
            <!-- You can't edit or delete other people's messages -->
            <template v-if="message.actor==$gf.me">
              <li>
                <button @click="removeMessage(message)">
                  Delete Message
                </button>
              </li>
              <li>
                <button @click="startEditMessage(message)">
                  Edit Message
                </button>
              </li>
            </template>

            <li>
              <like :messageid="message.id"></like>
            </li>
          </ul>
        </li>
      </li>
    </template>
  </div>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      {{ profile? profile.name : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input v-model="editText"/>
      <input type="submit" value="Save Name"/>
    </form>
  </template>

  <template id="like">
    <button @click="toggleLike">
      {{ myLikes.length? 'Unlike' : 'Like' }}
    </button>
    # of likes:  {{ numLikes }}
  </template>
</body>
</html>
