<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Chat</title>
    <link rel="stylesheet" href="style_1.css" />
    <link rel="stylesheet" href="style_2.css" />

    <script type="module" src="chat_1.js"></script>

    <!-- ########## Translate ###################### -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- ############### Title #################################-->
    <!-- ############### Title #################################-->
    <h1>Let's Chat</h1>

    <!-- ############### App #################################-->
    <!-- ############### App #################################-->
    <div id="app" class="theme">
      <!-- ################### Translate ####################### -->

      <!-- ############### Login and LogOut #################################-->
      <!-- ############### Login and LogOut #################################-->
      <p>
        <button class="login-logout" @click="$gf.toggleLogIn">
          <!-- If we have a user ID, we're logged in so show "Log Out" -->
          <!-- Otherwise, show "Log In" -->
          {{ $gf.me? 'Log Out' : 'Log In' }}
        </button>
      </p>

      <!-- ########################### Setting ########################### -->
      <div class="settings-container">
        <button class="settings-button" @click="toggleSettingsModal">
          Settings
        </button>
      </div>

      <transition name="slide-fade">
        <div class="settings-modal" v-if="showSettingsModal">
          <h2>Settings</h2>
          <ul>
            <li>
              <label for="background-color-theme"
                >Background Color Theme:</label
              >
              <select id="background-color-theme" v-model="theme">
                <option value="light">Light</option>
                <option value="dark">Dark</option>
              </select>
            </li>
            <li>
              <!-- <label for="language-setting">Language Setting:</label>
              <select id="language-setting">
                <option value="english">English</option>
                <option value="spanish">Spanish</option>
              </select> -->
              <label for="targetLanguage">Translate to : </label>
              <select id="targetLanguage" v-model="targetLanguage">
                <option value="af">Afrikaans</option>
                <option value="sq">Albanian</option>
                <option value="am">Amharic</option>
                <option value="ar">Arabic</option>
                <option value="hy">Armenian</option>
                <option value="az">Azerbaijani</option>
                <option value="eu">Basque</option>
                <option value="be">Belarusian</option>
                <option value="bn">Bengali</option>
                <option value="bs">Bosnian</option>
                <option value="bg">Bulgarian</option>
                <option value="ca">Catalan</option>
                <option value="ceb">Cebuano</option>
                <option value="ny">Chichewa</option>
                <option value="zh-CN">Chinese (Simplified)</option>
                <option value="zh-TW">Chinese (Traditional)</option>
                <option value="co">Corsican</option>
                <option value="hr">Croatian</option>
                <option value="cs">Czech</option>
                <option value="da">Danish</option>
                <option value="nl">Dutch</option>
                <option value="en">English</option>
                <option value="eo">Esperanto</option>
                <option value="et">Estonian</option>
                <option value="tl">Filipino</option>
                <option value="fi">Finnish</option>
                <option value="fr">French</option>
                <option value="fy">Frisian</option>
                <option value="gl">Galician</option>
                <option value="ka">Georgian</option>
                <option value="de">German</option>
                <option value="el">Greek</option>
                <option value="gu">Gujarati</option>
                <option value="ht">Haitian Creole</option>
                <option value="ha">Hausa</option>
                <option value="haw">Hawaiian</option>
                <option value="he">Hebrew</option>
                <option value="hi">Hindi</option>
                <option value="hmn">Hmong</option>
                <option value="hu">Hungarian</option>
                <option value="is">Icelandic</option>
                <option value="ig">Igbo</option>
                <option value="id">Indonesian</option>
                <option value="ga">Irish</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="jw">Javanese</option>
                <option value="kn">Kannada</option>
                <option value="kk">Kazakh</option>
                <option value="km">Khmer</option>
                <option value="rw">Kinyarwanda</option>
                <option value="ko">Korean</option>
                <option value="ku">Kurdish (Kurmanji)</option>
                <option value="ky">Kyrgyz</option>
                <option value="lo">Lao</option>
                <option value="la">Latin</option>
                <option value="lv">Latvian</option>
                <option value="lt">Lithuanian</option>
                <option value="lb">Luxembourgish</option>
                <option value="mk">Macedonian</option>
                <option value="mg">Malagasy</option>
                <option value="ms">Malay</option>
                <option value="ml">Malayalam</option>
                <option value="mt">Maltese</option>
                <option value="mi">Maori</option>
                <option value="mr">Marathi</option>
                <option value="mn">Mongolian</option>
                <option value="my">Myanmar (Burmese)</option>
                <option value="ne">Nepali</option>
                <option value="no">Norwegian</option>
                <option value="or">Odia (Oriya)</option>
                <option value="ps">Pashto</option>
                <option value="fa">Persian</option>
                <option value="pl">Polish</option>
                <option value="pt">Portuguese</option>
                <option value="pa">Punjabi</option>
                <option value="ro">Romanian</option>
                <option value="ru">Russian</option>
                <option value="sm">Samoan</option>
                <option value="gd">Scots Gaelic</option>
                <option value="sr">Serbian</option>
                <option value="st">Sesotho</option>
                <option value="sn">Shona</option>
                <option value="sd">Sindhi</option>
                <option value="si">Sinhala</option>
                <option value="sk">Slovak</option>
                <option value="sl">Slovenian</option>
                <option value="so">Somali</option>
                <option value="es">Spanish</option>
                <option value="su">Sundanese</option>
                <option value="sw">Swahili</option>
                <option value="sv">Swedish</option>
                <option value="tg">Tajik</option>
                <option value="ta">Tamil</option>
                <option value="tt">Tatar</option>
                <option value="te">Telugu</option>
                <option value="th">Thai</option>
                <option value="tr">Turkish</option>
                <option value="tk">Turkmen</option>
                <option value="uk">Ukrainian</option>
                <option value="ur">Urdu</option>
                <option value="ug">Uyghur</option>
                <option value="uz">Uzbek</option>
                <option value="vi">Vietnamese</option>
                <option value="cy">Welsh</option>
                <option value="xh">Xhosa</option>
                <option value="yi">Yiddish</option>
                <option value="yo">Yoruba</option>
                <option value="zu">Zulu</option>
              </select>
            </li>
            <li>
              <label for="exceptLanguages">Preserve original for:</label>
              <select id="exceptLanguage" v-model="selectedLanguages" multiple>
                <option value="af">Afrikaans</option>
                <option value="sq">Albanian</option>
                <option value="am">Amharic</option>
                <option value="ar">Arabic</option>
                <option value="hy">Armenian</option>
                <option value="az">Azerbaijani</option>
                <option value="eu">Basque</option>
                <option value="be">Belarusian</option>
                <option value="bn">Bengali</option>
                <option value="bs">Bosnian</option>
                <option value="bg">Bulgarian</option>
                <option value="ca">Catalan</option>
                <option value="ceb">Cebuano</option>
                <option value="ny">Chichewa</option>
                <option value="zh-CN">Chinese (Simplified)</option>
                <option value="zh-TW">Chinese (Traditional)</option>
                <option value="co">Corsican</option>
                <option value="hr">Croatian</option>
                <option value="cs">Czech</option>
                <option value="da">Danish</option>
                <option value="nl">Dutch</option>
                <option value="en">English</option>
                <option value="eo">Esperanto</option>
                <option value="et">Estonian</option>
                <option value="tl">Filipino</option>
                <option value="fi">Finnish</option>
                <option value="fr">French</option>
                <option value="fy">Frisian</option>
                <option value="gl">Galician</option>
                <option value="ka">Georgian</option>
                <option value="de">German</option>
                <option value="el">Greek</option>
                <option value="gu">Gujarati</option>
                <option value="ht">Haitian Creole</option>
                <option value="ha">Hausa</option>
                <option value="haw">Hawaiian</option>
                <option value="he">Hebrew</option>
                <option value="hi">Hindi</option>
                <option value="hmn">Hmong</option>
                <option value="hu">Hungarian</option>
                <option value="is">Icelandic</option>
                <option value="ig">Igbo</option>
                <option value="id">Indonesian</option>
                <option value="ga">Irish</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="jw">Javanese</option>
                <option value="kn">Kannada</option>
                <option value="kk">Kazakh</option>
                <option value="km">Khmer</option>
                <option value="rw">Kinyarwanda</option>
                <option value="ko">Korean</option>
                <option value="ku">Kurdish (Kurmanji)</option>
                <option value="ky">Kyrgyz</option>
                <option value="lo">Lao</option>
                <option value="la">Latin</option>
                <option value="lv">Latvian</option>
                <option value="lt">Lithuanian</option>
                <option value="lb">Luxembourgish</option>
                <option value="mk">Macedonian</option>
                <option value="mg">Malagasy</option>
                <option value="ms">Malay</option>
                <option value="ml">Malayalam</option>
                <option value="mt">Maltese</option>
                <option value="mi">Maori</option>
                <option value="mr">Marathi</option>
                <option value="mn">Mongolian</option>
                <option value="my">Myanmar (Burmese)</option>
                <option value="ne">Nepali</option>
                <option value="no">Norwegian</option>
                <option value="or">Odia (Oriya)</option>
                <option value="ps">Pashto</option>
                <option value="fa">Persian</option>
                <option value="pl">Polish</option>
                <option value="pt">Portuguese</option>
                <option value="pa">Punjabi</option>
                <option value="ro">Romanian</option>
                <option value="ru">Russian</option>
                <option value="sm">Samoan</option>
                <option value="gd">Scots Gaelic</option>
                <option value="sr">Serbian</option>
                <option value="st">Sesotho</option>
                <option value="sn">Shona</option>
                <option value="sd">Sindhi</option>
                <option value="si">Sinhala</option>
                <option value="sk">Slovak</option>
                <option value="sl">Slovenian</option>
                <option value="so">Somali</option>
                <option value="es">Spanish</option>
                <option value="su">Sundanese</option>
                <option value="sw">Swahili</option>
                <option value="sv">Swedish</option>
                <option value="tg">Tajik</option>
                <option value="ta">Tamil</option>
                <option value="tt">Tatar</option>
                <option value="te">Telugu</option>
                <option value="th">Thai</option>
                <option value="tr">Turkish</option>
                <option value="tk">Turkmen</option>
                <option value="uk">Ukrainian</option>
                <option value="ur">Urdu</option>
                <option value="ug">Uyghur</option>
                <option value="uz">Uzbek</option>
                <option value="vi">Vietnamese</option>
                <option value="cy">Welsh</option>
                <option value="xh">Xhosa</option>
                <option value="yi">Yiddish</option>
                <option value="yo">Yoruba</option>
                <option value="zu">Zulu</option>
              </select>
              <div
                class="delete-remove"
                v-for="(language, index) in selectedLanguages"
                :key="index"
              >
                {{ language }}
                <button @click="removeLanguage(index)">Delete</button>
              </div>
              <div class="delete-remove">
                <button @click="removeAllSelectedLanguages">Remove All</button>
              </div>
            </li>
            <!-- <li>
              <label for="privacy-setting">Privacy Setting:</label>
              <select id="privacy-setting">
                <option value="public">Public</option>
                <option value="private">Private</option>
              </select>
            </li> -->
          </ul>
          <!-- <div class="settings-footer">
            <button class="help-button" @click="toggleHelpModal">Help</button>
            <button class="contact-us-button">Contact Us</button>
            <button class="save-settings-button">Save</button>
          </div> -->

          <!-- ############### Help  #################################-->
          <!-- ############### Help #################################-->
          <div class="help-button-container">
            <button @click="toggleHelpModal" class="help-button">Help</button>
          </div>

          <transition name="slide-fade">
            <div class="help-modal" v-if="showHelpModal">
              <div class="container">
                <h1>Let's Chat Help Manual</h1>

                <div class="section">
                  <h2>Introduction</h2>
                  <p>
                    This guide is designed to help you navigate and utilize the
                    functionalities of the chat interface.
                  </p>
                </div>
                <div class="section">
                  <h2>User Interface</h2>
                  <p>
                    When you enter the chat, you will see a list of messages in
                    the main chat area. Each message will be in a bubble with
                    the sender's name and the timestamp of the message. Messages
                    can contain text, images, and various options for
                    interaction such as liking, reading, and replying.
                  </p>
                </div>
                <div class="section">
                  <h2>Profile Picture</h2>
                  <p>
                    At the top of the chat interface, you'll see your profile
                    picture. To change it, click on the "Change Profile Pic"
                    button. A file dialog will appear, allowing you to select a
                    new profile picture from your device. Choose an image file
                    and confirm your choice.
                  </p>
                </div>
                <div class="section">
                  <h2>Message Attachments</h2>
                  <p>
                    You can also share images in the chat. Below the text input
                    box, click on the "Choose File" button. A file dialog will
                    appear, allowing you to select an image from your device.
                    After selecting the image, type any accompanying message in
                    the text box and click "Send". The image will be sent along
                    with your message.
                  </p>
                </div>
                <div class="section">
                  <h2>Message Translation</h2>
                  <p>
                    If a message is written in a language different from your
                    own, the chat app provides a translation feature. You can
                    access this feature by clicking on the settings, where you
                    can select the language to which you want the message
                    translated. Additionally, you have the option to preserve
                    the original text (untranslated) for the languages you
                    understand by selecting the corresponding language(s) from
                    the "Preserve original for" options. If you wish to select
                    multiple languages, you can use the command+click on Mac or
                    control+click on Windows. The translated text will be
                    displayed in place of the original message, along with the
                    code name of the detected language. This translation feature
                    greatly assists in understanding messages in different
                    languages and ensures smooth communication.
                  </p>
                </div>
                <div class="section">
                  <h2>Reply to a Message</h2>
                  <p>
                    When you want to reply to a specific message in the chat,
                    click on the "Reply" button next to the message you wish to
                    respond to. A reply form will appear with the text "Replying
                    to: [previous message]". Type your reply in the text box and
                    click "Send".
                  </p>
                </div>
                <div class="section">
                  <h2>Edit Your Name</h2>
                  <p>
                    If you want to change your name in the chat, click on the
                    "Edit Name" button. An input field will appear with a "Save
                    Name" button. Type your new name and click "Save Name".
                  </p>
                </div>
                <div class="section">
                  <h2>Read Receipts</h2>
                  <p>
                    When you send a message, a double check (✓✓) symbol will
                    appear to indicate that the message has been read. This
                    symbol also appears on messages from other users that you
                    have read.
                  </p>
                </div>
                <div class="section">
                  <h2>Like a Message</h2>
                  <p>
                    You can express your approval or enjoyment of a message by
                    clicking the "Like" button. If you have already liked a
                    message, the button will display "Unlike". Click it again to
                    remove your like.
                  </p>
                </div>
                <div class="section">
                  <h2>TroubleShooting</h2>
                  <p>
                    If you're trying to download an image and it says "Image is
                    downloading...", please wait for a while as the image is
                    being downloaded. If it says "Image could not be
                    downloaded!", please try again. If you're trying to send a
                    message and it's not being sent, please check your internet
                    connection and try again. If you're trying to edit your
                    profile and it's not being updated, please check your
                    internet connection and try again.
                  </p>
                </div>

                <button @click="toggleHelpModal" class="close-help-button">
                  Close Help
                </button>
              </div>
            </div>
            <!-- <div class="help-modal" v-if="showHelpModal">
              <h2>Help</h2>
              <p>Explanation of features and functionality here...</p>
              <p>
                <strong>How to use the chat app:</strong>
              </p>
              <ul>
                <li>Click the "Log In" button to log in or out.</li>
                <li>
                  Choose between "Public chat" and "Private Messaging" by
                  clicking the respective buttons.
                </li>
                <li>
                  For public chat, enter the channel name you want to chat in.
                  For private messaging, enter the Actor ID of the person you
                  want to chat with.
                </li>
                <li>
                  Type your message in the input field and click "Send" to send
                  the message.
                </li>
                <li>
                  Click "Edit Message" or "Delete Message" to edit or delete
                  your messages.
                </li>
                <li>Click "Edit Name" to change your display name.</li>
              </ul>
              <button @click="toggleHelpModal" class="close-help-button">
                Close
              </button>
            </div> -->
          </transition>

          <!-- ######## close for the setting ############### -->

          <button class="close-settings-button" @click="toggleSettingsModal">
            Close
          </button>
        </div>
      </transition>

      <!-- ############### Logged in Properties #################################-->
      <!-- ############### Logged in Properties #################################-->
      <!-- If we're not logged in, hide everything except the login button -->

      <template v-if="$gf.me">
        <!-- ############### Chat format PUBLIC / PRIVATE ##############################-->
        <!-- ############### Chat format PUBLIC / PRIVATE ##############################-->
        <!-- ############### Chat format PUBLIC / PRIVATE ##############################-->
        <div class="private-public">
          <label class="switch">
            <input id="toggle" type="checkbox" v-model="privateMessaging" />
            <span class="slider round"></span>
          </label>
          <span class="toggle-label">
            Chat Mode: {{ privateMessaging ? 'Private' : 'Public' }}</span
          >
        </div>

        <!-- ############### Display Name and Profile picture #################################-->
        <!-- ############### Display Name and Profile picture #################################-->
        <div>
          <profile-picture
            class="profile-name"
            :actor="$gf.me"
            :editable="true"
          ></profile-picture>
        </div>
        <div class="profile-name">
          <!-- <p> -->
          <!-- We display names in multiple places, so we made a -->
          <!-- reusable <name></name> component. -->
          <!-- See below for the template. -->
          <!-- <name :actor="$gf.me" :editable="true"></name>
          </p> -->
          Welcome : {{myUsername}}
        </div>
        <!-- ############### request-username" ##############################-->
        <!-- ############### request-username" ##############################-->
        <!-- ############### request-username" ##############################-->
        <div class="request-username">
          <form @submit.prevent="setUsername">
            <input
              v-model="preferredUsername"
              placeholder="Choose a username..."
            />
            <input type="submit" value="Change Username" />
          </form>
          {{ usernameResult }}
        </div>

        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$ Change the channel $$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
        <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

        <p v-if="!privateMessaging" class="channel-base">
          <label for="channel"> Change the channel you're chatting in: </label>
          <input id="channel" v-model="channel" />
        </p>

        <!-- ############### Search by username  ##############################-->
        <!-- ############### Search by username  ##############################-->
        <p v-else>
          <label for="username">Search by Username:</label>
          <input id="username" v-model="searchedUsername" />
          <button @click="searchByUsername">Search</button>
          <span v-if="recipient"> Chatting with {{ recipientUsername }} </span>
          <span class="search-status" v-if="searchError"
            >{{ searchError }}</span
          >
          <span v-if="searchLoading">Loading...</span>
        </p>

        <!-- ############### Error when sending message ##############################-->
        <!-- ############### Error when sending message ##############################-->
        <div class="error-message" v-if="errorMessage">{{ errorMessage }}</div>

        <!-- ############### messages-container ##############################-->
        <!-- ############### messages-container ##############################-->
        <div class="wrapper">
          <ul class="messages-container">
            <!-- List all the messages -->
            <li
              v-for="message of messages"
              :key="message.id"
              class="v-enter v-enter-active"
            >
              <!-- Display and edit form if we're editing a message -->
              <form
                v-if="editID==message.id"
                @submit.prevent="saveEditMessage(message)"
              >
                <input v-model="editText" />
                <input type="submit" value="Save" />
              </form>

              <!-- Otherwise, display a bunch of properties from the message -->
              <ul
                class="message-info"
                :class="{'incoming':message.actor!==$gf.me, 'outgoing':message.actor===$gf.me}"
                v-else
              >
                <div class="message-header">
                  <span v-if="!privateMessaging">
                    <!-- <li>From: {{ actorsToUsernames[message.actor] }}</li> -->
                    <!-- <li>From : {{fetchUsername[actorId]}}</li> -->
                    <li>From: <name :actor="message.actor"></name></li>
                  </span>
                  <!-- <li>From: :<name :actor="message.bto[0]"></name></li> -->

                  <span v-else>To :<name :actor="message.bto[0]"></name> </span>
                </div>

                <!-- <li id="text-message">Message: {{ message.content }}</li> -->

                <!-- <div v-if="detectedLanguage">
                  Detected language: {{ detectedLanguage }}
                </div> -->
                <!-- <li id="text-message">
                  Message: {{ translatedMessages[message.id] || message.content
                  }}
                </li> -->
                <!-- <div v-for="message in messages" :key="message.id"> -->
                <!-- <div><b>Message:</b> {{ message.content }}</div> -->

                <!-- <div>
                  <b>Translated message:</b> {{
                  translatedMessages[message.id].translatedText }}
                </div> -->
                <!-- </div> -->

                <div id="text-message">
                  Message:
                  <span v-if="translatedMessages[message.id]">
                    {{ translatedMessages[message.id].translatedText }}
                  </span>
                  <span v-else> {{ message.content }} </span>
                </div>

                <div>
                  <span class="detected-lang">
                    Det Lang: {{ translatedMessages[message.id].detectedLanguage
                    }}</span
                  >
                </div>

                <!-- #####################  HIDE THE DETAILS ####################### -->
                <!-- #####################  HIDE THE DETAILS ####################### -->
                <!-- #####################  HIDE THE DETAILS ####################### -->

                <li
                  v-if="message.attachment && message.attachment.magnet in downloadedImages"
                >
                  <span
                    v-if="downloadedImages[message.attachment.magnet]=='downloading'"
                  >
                    Image is downloading...
                  </span>
                  <span
                    v-else-if="downloadedImages[message.attachment.magnet]=='error'"
                  >
                    Image could not be downloaded!
                  </span>
                  <img
                    style="width: 100%"
                    v-else
                    :src="downloadedImages[message.attachment.magnet]"
                  />
                </li>

                <!-- ################## from solution END here ###############-->

                <!-- ############### A menue ... for Delete and Edit ##############################-->
                <!-- ############### A menue ... for Delete and Edit  ##############################-->
                <!-- Only add these controls if the message is ours -->
                <!-- You can't edit or delete other people's messages -->
                <div class="foot-container">
                  <div class="actions-container">
                    <template v-if="message.actor==$gf.me">
                      <li>
                        <button @click="removeMessage(message)">Delete</button>
                      </li>
                      <li>
                        <button @click="startEditMessage(message)">Edit</button>
                      </li>
                    </template>
                    <li>
                      <like :messageid="message.id"></like>
                    </li>

                    <li>
                      <read
                        :messageid="message.id"
                        :sender="message.sender"
                      ></read>
                    </li>

                    <li>
                      <reply
                        :messageid="message.id"
                        :content="message.content"
                        :sender="message.sender"
                      ></reply>
                    </li>
                  </div>
                  <div class="message-timestamp">
                    <span>{{ formatDate(message.published) }}</span>
                  </div>
                </div>
              </ul>
            </li>
          </ul>

          <!-- ############### Send message ##############################-->
          <!-- ############### Send message ##############################-->
          <div class="message-send-button">
            <!-- A form for sending messages -->
            <form @submit.prevent="sendMessage" class="send-input">
              <input
                class="submit-text-box"
                v-model="messageText"
                placeholder="Type a message..."
              />
              <!-- ############## Sending Media in Chat ############-->
              <input type="file" accept="image/*" @change="onImageAttachment" />
              <input class="submit-button" type="submit" value="Send" />
              <!-- @focus="handleInputFocus"
              @blur="handleInputBlur" -->

              <!--####### typing Indicator ####### -->
              <!-- <span class="typing-indicator" v-if="isTyping">&#x2022;</span> -->
            </form>
          </div>
        </div>
        <!-- ############### Message-content End here ##############################-->
        <!-- ############### Message-content End here ##############################-->
      </template>
    </div>

    <template id="name">
      <span v-if="!editing">
        <!-- If we're not editing the name-->
        <!-- Display the profile's name, if it exists -->
        <!-- or anonymous if it doesn't -->
        {{ profile? profile.name : 'Anonymous' }}

        <!-- Also if the name is "editable" add an edit button -->
        <button v-if="editable" @click="editName">Edit Name</button>
      </span>

      <!-- If we're in the editing state, create something to edit the name-->
      <form v-else @submit.prevent="saveName">
        <input v-model="editText" />
        <input type="submit" value="Save Name" />
      </form>
    </template>

    <!-- ############# LIKE Template ################# -->
    <template id="like">
      <button @click="toggleLike">
        {{ myLikes.length? 'Unlike' : 'Like' }}
      </button>
      liked by: {{ numLikes }}
    </template>

    <!-- ############# READ Template ################# -->
    <template id="read">
      <div>
        <span class="read-indicator" v-if="sender === $gf.me && myReads.length"
          >✓✓</span
        >
      </div>
      <div class="read-indicator" v-if="sender !== $gf.me">
        ✓✓
        <!-- read by: {{ numReads }} -->
      </div>
    </template>

    <!-- ############# REPLY Template ################# -->

    <template id="reply">
      <div class="reply-container">
        <button @click="showReplyForm = !showReplyForm">Reply</button>
        <div v-if="showReplyForm" class="reply-form">
          <div class="quoted-message">
            <span>Replying to:</span>
            <span
              >{{ replyingToReply ? replyingToReply.content :
              repliedMessageSnippet }}</span
            >
          </div>
          <input
            type="text"
            v-model="replyContent"
            placeholder="Write a reply..."
          />
          <button @click="sendReply">Send</button>
        </div>
        <div class="replies">
          <div v-for="reply in replies" class="reply-message">
            <div class="quoted-message">
              <span>Replying to:</span>
              <span>{{ repliedMessageSnippet }}</span>
            </div>
            <span v-if="editingReply === reply">
              <input v-model="editText" />
              <button @click="saveEditReply">Save</button>
            </span>
            <span v-else>
              {{ reply.content }}
              <template v-if="reply.actor==$gf.me">
                <button @click="removeReply(reply)">Delete</button>
                <button @click="startEditReply(reply)">Edit</button>
              </template>
              <button @click="startReplyToReply(reply)">Reply</button>
            </span>
          </div>
        </div>
      </div>
    </template>

    <!--############### Profile picture #################### -->
    <script type="text/x-template" id="profile-picture">
      <div>
        <img class="profile-image" v-if="localImageUrl" :src="localImageUrl" />
        <button v-if="editable" @click="editProfilePicture">
          Change Profile Pic
        </button>
      </div>
    </script>
  </body>
</html>
